html, body, #pageContent {
  overflow: hidden;
}

#pageContent {
    padding: 0;
    position: absolute !important;
    top : 40px !important;
    right : 0;
    bottom : 40px !important;
    left : 0 !important;
}

.ui-header{
  z-index: 1000 !important;
}

#speed{
  background-color: white !important;
}

.is3310 {
  background: white url(../res/3310.png) no-repeat 50%;
  background-size: contain;
}

.is3330 {
  background: white url(../res/3330.png) no-repeat 50%;
  background-size: contain;
}

.settings {
  position: absolute;
  bottom: -200px;
  display: none;
}

.screen {
  /*position: absolute; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin-top: 10%;
  /* width: 170px; */
  /* height: 128px; */
  /* background-color: #5B7745; */
  /* border-radius: 8px; */
  /* box-shadow: -2px -2px 1px #423333; */
}

.canvas{
  position: relative;
  text-align: center;
  padding-top: 5px;
  height: 120px;
  background-color: #5B7745;
  border-radius: 8px;
  box-shadow: -2px -2px 1px #423333;
}

#canvas{
  /*width: 100%;*/
}

#panel{
  background-color: #2c3e50;
}

.controlli{
  width: 200px;
  margin: 117px auto auto auto;
}

.controlli button{
  margin: 5px;
  padding: 0px;
  width: 50px;
  height: 30px;
  position: relative;
  border-radius: 15px !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.controlli button#u{
  margin: auto;
}
.controlli button#l{

}
.controlli button#r{
  position: relative;
  top: -35px;
  left: 145px;
}
.controlli button#d{
  margin: auto;
  top: -20px;
}

.ui-icon-pause{
    background: url('../res/pause.png') no-repeat rgba(0, 0, 0, 0.4) !important;
    background-size: 16px 16px;
}


#panel div.ui-slider-switch { width: 100% }
