#pageContent{
  padding: 0px;
  background: url(../res/3310.png) white;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.settings{
  position: absolute;
  bottom: -200px;
  display: none;
}

.screen {
  margin-left: auto;
  margin-right: auto;
  margin-top: 158px;
  width: 187px;
  height: 128px;
  background-color: #5B7745;
  border-radius: 8px;
  box-shadow: -2px -2px 1px #423333;
}

.canvas{
  position: relative;
  text-align: center;
  padding: 3px;
}

#canvas{
  /*width: 100%;*/
}

.controlli{
  width: 200px;
  margin: 120px auto auto auto;
}

.controlli button{
  margin: 5px;
  padding: 0px;
  width: 50px;
  height: 30px;
  position: relative;
  border-radius: 15px !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.controlli button#u{
  margin: auto;
}
.controlli button#l{

}
.controlli button#r{
  position: relative;
  top: -35px;
  left: 145px;
}
.controlli button#d{
  margin: auto;
  top: -20px;
}

.ui-icon-pause
{
    background: url('../res/pause.png') no-repeat rgba(0, 0, 0, 0.4) !important;
    background-size: 16px 16px;
}
