html {
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  margin: 0px;
}

canvas{
  display: inline;
}

.settings{
  display: inline-block;
  /*top: 0px;*/
  /*position: absolute;*/
}
